<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oauth Login</title>
    <style type="text/css">
    /* global.css */
    body {
    	font-family:"Muli", Helvetica-Neue, sans-serif;
    	color: #000000;
    	text-align:center;
    	background: #EBEBEB;
    	background-image: url("https://modwat.ch/images/congruent_outline.png");
      margin: 0;
    }
    .vert-margin {
    	margin: 10px auto;
    }
    #header {
    	font-weight: bold;
    	color: #D0D0D0;
    }
    #header a {
    	color: #D0D0D0;
    	font-size: 9vw;
    	text-decoration: none;
      max-width: 1000px;
    }
    .content-wrapper {
      padding: 25px;
      padding-top: 0;
      width: 100%;
      box-sizing: border-box;
    }
    .view-wrapper {
      margin: 0 auto;
      max-width: 1000px;
    }
    section {
      box-sizing: border-box;
      padding: 5px 10px;
      background-color: #D3D3D3;
      box-shadow: 3px 3px 6px 1px;
      margin-bottom: 25px;
    }
    section:last-child {
      margin-bottom: initial;
    }
    section h1 {
      border-bottom: 1px solid #A5A5A5;
      padding-bottom: 15px;
      color: #E3A853;
      font-size: 1.5em;
    }

    /* login.css */
    .login-wrapper {
      padding: 0 25px 20px 25px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
    .login-wrapper input {
      transition: border-color 0.3s ease;
      width: 100%;
      margin: 0 15px;
      background: none;
      border: none;
      border-bottom: 1px solid #A5A5A5;
      padding: 7px 5px;
      outline: none;
      font-size: 1em;
    }
    .login-wrapper input:focus,
    .login-wrapper input:active {
      border-color: #000000;
    }
    .login-wrapper button {
      transition: box-shadow 0.3s ease;
      width: 100%;
      margin: 0 15px;
      padding: 7px 5px;
      font-size: 1em;
      font-weight: bold;
      outline: none;
      border: none;
      background-color: #E3A853;
      cursor: pointer;
    }
    .login-wrapper.failed button {
      background-color: #E04040;
    }
    .login-wrapper button:hover {
      box-shadow: 0px 1px 6px 1px;
    }

    @media (max-width: 768px) {
      .login-wrapper {
        flex-direction: column;
      }
      .login-wrapper input,
      .login-wrapper button {
        margin: 15px 0;
      }
    }
    </style>
  </head>
  <body>
    <header><h1 id="header"><a href="<%= params.redirect_uri %>">MODWATCH</a></h1></header>
    <div class="content-wrapper">
      <div class="view-wrapper">
        <section>
          <h1>Login</h1>
      		<form method="POST" action="/oauth/authorize?<%=querystring%>" class="login-wrapper <%= params.failed ? "failed" : ""%>">
            <% for (var key in params) {
              if(key !== "failed") { %><input name="<%= key %>" value="<%= params[key] %>" type="hidden"/> <% } %>
            <% } %>
      			<input required="required" name="username" placeholder="Username"/>
      			<input required="required" name="password" type="password" placeholder="Password"/>
            <button type="submit">Login</button>
      		</form>
          <% if(params["failed"]) { %>
            <p><%=params["failed"]%></p>
          <% } %>
        </section>
      </div>
    </div>
  </body>
</html>
